.container{
    width: 35vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    background-color: #1a1625;
    color: whitesmoke;

    &.noUser{
        align-items: center;
        justify-content: center;
        gap: 30px;

        form{
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 30px;

            label{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 30px;

                img{
                    width: 50px;
                    height: 50px;
                    object-fit: cover;
                    border-radius: 8px;
                }
            }

            input{
                background-color: #46424f;
                outline: none;
                border: 1px solid rgb(39, 33, 44);
                padding: 20px;
                color: whitesmoke;                
            }

            ::-ms-reveal{
                filter: invert(100%);
            }

            button{
                width: 100%;
                height: 50px;
                font-size: 17px;
                font-weight: 400;
                color: whitesmoke;
                background-color: #46424f;
                border: none;
                outline: none;
                cursor: pointer;
            }
        }

        

        .textBtn{
            background-color: transparent;
            width: auto;
            height: 30px;
            border: none;
            outline: none;
            cursor: pointer;
            color: whitesmoke;
            font-size: 17px;
            font-weight: 400;
        }
    }
}

.top{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2f2b3a;
    
    button{
        width: auto;
        height: 50px;
        font-size: 17px;
        font-weight: 400;
        color: whitesmoke;
        background-color: #46424f;
        border: none;
        outline: none;
        cursor: pointer;
    }
}

.center{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 30px 10px 30px;
    flex: 8;
    overflow-y: auto;
}

.bottom{
    flex: 1;
    background-color: #2f2b3a;
}

.message{
    display: flex;
    gap: 30px;
    max-width: 60%;
    
    img{
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
    }

    .text{
        display: flex;
        flex-direction: column;
        gap: 10px;

        p{
            margin: 0px;
            padding: 20px;
            background-color: #46424f;
            color: white;
        }    
        
        h5{
            margin: 0px;
        }
    }

    &.own{
        align-self: flex-end;
    
        .text{
            background-color: #46424f;
        }
    }
}

.bottom{
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;

    form{
        width: 100%;
        display: flex;
        align-items: center;
        gap: 30px;

        input{
            width: 100%;
            background-color: #46424f;
            outline: none;
            border: 1px solid rgb(39, 33, 44);
            padding: 20px;
            color: whitesmoke;
        }

        button{
            width: 20%;
            height: 50px;
            font-size: 20px;
            font-weight: 600;
            color: whitesmoke;
            background-color: #46424f;
            border: none;
            outline: none;
            cursor: pointer;
        }
    }

    
}


@media screen and (max-width: 1080px) {
    .container{
        width: 100vw;
        height: 100vh;
    }
}